<!-- your html code here -->
<div class="text-start row">
  <div class="col">
    <h1><strong>This First Heading</strong> Will Catch You Eye</h1>
    <p>Donec ullamcorper nulla nun metus auctor fringilla. Vestibilum id porta felis euismod semper. Praesent commodo
      cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col">
    <img
      src="https://cdn.dribbble.com/userupload/40454933/file/original-a59fe57b623108a44ebf47806b1c3563.jpg?resize=1600x1200&vertical=center"
      class="rounded-circle float-end" style="width: 200px; height: 200px;" alt="walterWhite">
  </div>
</div>