<div class="container py-5">
  <hr>
  <div class="row mb-2">
    <div class="col">
      <h1>Portfolio</h1>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce Dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>
  <div class="row g-4">
    <div class="col-md-4">
      <img src="https://placehold.co/700x400" class="img-fluid mb-3">
      <h4 class="text-primary">Project Name</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi earum non veniam officiis facilis vitae!</p>
    </div>
    <div class="col-md-4">
      <img src="https://placehold.co/700x400" class="img-fluid mb-3">
      <h4 class="text-primary">Project Name</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi earum non veniam officiis facilis vitae!</p>
    </div>
    <div class="col-md-4">
      <img src="https://placehold.co/700x400" class="img-fluid mb-3">
      <h4 class="text-primary">Project Name</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi earum non veniam officiis facilis vitae!</p>
    </div>
  </div>
  <hr>
</div>
