<!-- your html code here -->
<div class="text-start row">
    <div class="col">
        <img src="https://imgs.search.brave.com/_qbkUfbcRY2-0cnW7TVxagnyD89tYb8Xq48M7iRNR0k/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHNkLXByZW1pdW0v/cGVyc29uYS1lc2Ny/aWJpZW5kby10ZWNs/YWRvLXN1cy1tYW5v/cy1yYXRvbi1mb25k/by1ibGFuY28tZm90/b2dyYWZpYS12aXN0/YS1zdXBlcmlvci1m/b3RvZ3JhZmlhLWFp/c2xhZGEtY29udHJh/LWZvbmRvLWNvbG9y/LWJsYW5jby1mb25k/by1hbGZhLXRyYW5z/cGFyZW50ZS1wbmdf/MTEwMTA5MC04NjM3/LmpwZz9zZW10PWFp/c19oeWJyaWQmdz03/NDAmcT04MA"
            class="rounded-circle float-start" style="width: 200px; height: 200px;" alt="keyboard">
    </div>
    <div class="col">
        <h1><strong>The Second Heading <span class="text-secondary">Is Pretty Cool Too</span></strong></h1>
        <p>Donec ullamcorper nulla nun metus auctor fringilla. Vestibilum id porta felis euismod semper. Praesent
            commodo
            cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>